{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <link rel="stylesheet" href="{% static 'JavaScript/css/bootstrap.min.css'%}">
    <script src="{% static 'JavaScript/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body id="bg4">
    <div class="container">
        <div class="row">
            <div class="col-6 text-white" id="para">
                <h1 class="text-center">About Us</h1>
                <p id="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur expedita reiciendis accusantium quam eveniet quis, atque cupiditate similique facilis eum sit sapiente cum odit? Praesentium ullam incidunt odio quaerat.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quos ratione eius adipisci quisquam error aspernatur perferendis asperiores expedita, non velit quasi voluptatem nam repellendus provident sapiente itaque facere animi.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ipsum nam quos rerum nostrum. Molestiae repellat nisi aliquam animi debitis molestias sunt assumenda in exercitationem nam suscipit, dolor itaque ex!   
                    loLorem, ipsum dolor sit amet consectetur adipisicing elit.Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
            <div class="col-5 mt-5">
                <img src="{% static 'css\images\img8.png' %}" alt="" class="mt-5" id="bg6">
            </div>
        </div>
    </div>
</body>
</html>